// $global-link-color: #DA7D02;
// $global-primary-background: #40dbb1 !default;
// $global-secondary-background: #f9a451 !default;
// $global-background: #4747ed !default;

$global-warning-background: #f9a451 !default;
$global-danger-background: #da1036 !default;
$global-success-background: #40dbb1 !default;
$global-primary-background: #4d4ded !default;