// custom mixins
@mixin hook-button-border-radius(){
    border-radius: 20px !important;
}
@mixin hook-button-border-radius-small(){
    border-radius: 15px !important;
}
@mixin hook-button-border-radius-large(){
    border-radius: 27.5px !important;
}
@mixin hook-button-warning(){

}
@mixin hook-button-warning-hover(){

}
@mixin hook-button-warning-active(){

}
@mixin hook-button-success(){

}
@mixin hook-button-success-hover(){

}
@mixin hook-button-success-active(){

}

/*
 * Warning
 */

.uk-button-warning {
    background-color: $button-warning-background;
    color: $button-warning-color !important;
    @if(mixin-exists(hook-button-warning)) {@include hook-button-warning();}
}

/* Hover + Focus */
.uk-button-warning:hover,
.uk-button-warning:focus {
    background-color: $button-warning-hover-background;
    color: $button-warning-hover-color;
    @if(mixin-exists(hook-button-warning-hover)) {@include hook-button-warning-hover();}
}

/* OnClick + Active */
.uk-button-warning:active,
.uk-button-warning.uk-active {
    background-color: $button-warning-active-background;
    color: $button-warning-active-color;
    @if(mixin-exists(hook-button-warning-active)) {@include hook-button-warning-active();}
}

/*
 * Success
 */

.uk-button-success {
    background-color: $button-success-background;
    color: $button-success-color !important;
    @if(mixin-exists(hook-button-success)) {@include hook-button-success();}
}

/* Hover + Focus */
.uk-button-success:hover,
.uk-button-success:focus {
    background-color: $button-success-hover-background;
    color: $button-success-hover-color;
    @if(mixin-exists(hook-button-success-hover)) {@include hook-button-success-hover();}
}

/* OnClick + Active */
.uk-button-success:active,
.uk-button-success.uk-active {
    background-color: $button-success-active-background;
    color: $button-success-active-color;
    @if(mixin-exists(hook-button-success-active)) {@include hook-button-success-active();}
}

/* Rounded
 * Rounded border radius
*/
.uk-button-rounded{
    @if(mixin-exists(hook-button-border-radius)) {@include hook-button-border-radius();}
}
.uk-button-rounded.uk-button-small{
    @if(mixin-exists(hook-button-border-radius-small)) {@include hook-button-border-radius-small();}
}
.uk-button-rounded.uk-button-large{
    @if(mixin-exists(hook-button-border-radius-large)) {@include hook-button-border-radius-large();}
}
