$card-warning-background:                     $global-warning-background !default;
$card-warning-color:                          $global-inverse-color !default;
$card-warning-title-color:                    $card-warning-color !default;
$card-warning-hover-background:               darken($card-warning-background, 5%) !default;
$card-warning-color-mode:                     light !default;

$card-success-background:                     $global-success-background !default;
$card-success-color:                          $global-inverse-color !default;
$card-success-title-color:                    $card-success-color !default;
$card-success-hover-background:               darken($card-success-background, 5%) !default;
$card-success-color-mode:                     light !default;